.exitcarousel{
    display: flex;
    justify-content: end;
    height: 0.0003px;
}
.exiticontranslate{
    margin-right: 10px;
    margin-top: 10px;
    font-size: 60px;
    color: red;
    z-index: 3;
}
.exiticontranslate:hover{
    color: rgb(216, 65, 65);
}
.carousel-container-ALL{
    background-color: rgba(0, 0, 0, 0.768);
    height: 100%;
    width: 100%;
    min-height: 630px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.carousel-container-firsttime{
    height: 86%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carousel-slide{
    height: 100%;
    width: 90%;
}
.space_carousel{
    height: 2%;
    width: 100%;
}

.Img-carousel-container{
    height: 68%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden ;
    border-radius: 20px;
}
.description-container{
    height: 30%;
    width: 100%;
    background-color: rgb(240, 238, 238);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.carousel-slide-btn{
    height: 0.00003px;
    display: flex;
    justify-content: center;
}
.carousel-slide-btn-btn{
    z-index: 3;
    background-color: rgb(89, 224, 61);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 2px rgb(43, 255, 0);
    box-shadow: 0px 4px 8px rgba(78, 197, 54, 0.7);
    cursor: pointer;
}
.carousel-slide-btn-btn:hover{
    background-color: rgb(77, 185, 56);
}
.Slideimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Arrow{
    font-size: 50px;
    cursor: pointer;
    color: white;
}
.Arrow:hover{
    color: rgb(223, 221, 221);
}
/* Aplicar estilos diferentes para pantallas más pequeñas (por ejemplo, teléfonos) */
@media only screen and (max-width: 1200px) {
    .Slideimg {
        width: auto; /* Permitir que la imagen mantenga su tamaño original */
        max-width: 100%; /* La imagen no puede ser más ancha que el 100% del contenedor */
        height: auto; /* Permitir que la altura se ajuste proporcionalmente */
    }
    .description-container{
        font-size: 18px;
        padding: 10px;
    }
    .space_carousel{
        height: 1%;
    }
}
@media only screen and (max-width: 900px) {
    .carousel-container-firsttime{
        width: 82%;
    }
    .Slideimg{
        object-position: top;
    }
}

@media only screen and (max-width: 700px) {
    .Slideimg {
        width: auto; /* Permitir que la imagen mantenga su tamaño original */
        max-width: 100%; /* La imagen no puede ser más ancha que el 100% del contenedor */
        height: auto; /* Permitir que la altura se ajuste proporcionalmente */
    }
    .carousel-container-firsttime{
        width: 100%;
        height: 100%;
    }
    .description-container{
        font-size: 13px;
        padding: 5px;
    }
    .carousel-container-ALL{
        height: 110vh;
    }
    .carousel-slide-btn-btn{
        z-index: 3;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.dissapearb0, .dissapearf5{
    color: rgba(41, 41, 41);
    cursor: auto;
}
.dissapearb0:hover, .dissapearf5:hover{
    color: rgba(41, 41, 41);
}