.contenedortotal{
    background-color: rgb(84, 84, 145);
    min-height: 630px;
}
.contenedortotaltrue{
    background-color: rgb(53, 52, 52);
}
.Mainbuttons_todolist{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.activatecreatetodo{
    padding: 10px 20px;
    background-color: yellow;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px rgb(0, 0, 0);
    cursor: pointer;
}
.contenedortotal{
    width: 100%;
    padding: 30px;
    min-height: 630px;
}
.ALLTODOS{
    background-color: #47a2bebd;
    height: 80vh;
    min-height: 400pX;
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px;
    border-radius: 20px;
    border-top-left-radius: 0px;
}
.ALLTODOStrue{
    background-color: rgb(126, 126, 126);
}
.pendingandcompleted-btn{
    display: flex;
    height: 100%;
}
.searcher{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searcher_input{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid black;
    padding: 10px;
    height: 40px;
    border-right: none;
}
.iconbox{
    height: 40px;
    width: 10%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.todo_container{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
}
.todo_containertrue{
    background-color: rgb(56, 55, 55);
}
.Todo_informationandfinalization{
    width: 80%;
}
.Todo_information{
    width: 100%;
    min-height: 70px;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: auto;  /* Cambié a overflow-y para controlar el desbordamiento vertical */
}
.Todo_informationtrue{
    color: rgb(192, 192, 192);
}
.Todo-title{
    font-size:30px;
    white-space: nowrap; /* Evita el retorno de línea dentro del título */
}
.titletodotrue{
    color: rgb(211, 245, 16);
}
.todo-description{
    font-size: 18px;
}
.Todo_buttons{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-btn{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 40px;
    cursor: pointer;
}
.check{
    border-radius: 100px;
    height: fit-content;
    background-color: rgb(0, 255, 0);
}
.edit{
    color: rgb(128, 128, 245);
}
.edittrue{
    color: rgb(219, 152, 7);
}
.edit:hover{
    color: rgb(185, 185, 248);
}
.edittrue:hover{
     color:rgb(221, 219, 110);
}
.trash{
    color: grey;
}
.trash:hover{
    color: red;
}
.check:hover{
    background-color: white;
    color: rgb(0, 255, 0);
}
.undo-btn{
    font-size: 50px;
}
.mainbuttons-btn{
    background-color:  #47a2bebd;
    border: solid 2px #47a2bebd;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: none;
    cursor: pointer;
    font-size: 20px;
}
.pendingpendientes{
    background-color:  #2cc8f8fb;
}
.pendingtruependientes{
    background-color: rgb(192, 192, 192);
    border: solid 2px rgb(110, 109, 109);
    border-bottom: none;
}
.pendingtruecompletadas{
    background-color: rgb(126, 126, 126);
    border: none;
}
.completedcompletadas{
    background-color:  #2cc8f8fb;
}
.completedtruecompletadas{
    background-color: rgb(192, 192, 192);
    border: solid 2px rgb(110, 109, 109);
    border-bottom: none;
}
.completedtruependientes{
    background-color: rgb(126, 126, 126);
    border: none;
}
.titlecompletadas{
    text-decoration: line-through;
    text-decoration-color: red;
}
.loading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.no-todos-message{
    width: 100%;
    background-color: azure;
    height: 30%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
}
.no-todos-messagetrue{
    background-color:rgb(56, 55, 55) ;
    color:rgb(211, 245, 16) ;
}
.todo-description{
    font-size: 18px;
}
.todo{
    color: black;
    text-align: center;
    border-radius: 20px;
}
.todotrue{
    background-color:rgba(151, 147, 147, 0.651);
}
.safetodotime{
    color: rgb(23, 206, 23);
}
.warningtodotime{

    color: rgb(206, 206, 9);
}
.outoftime{
    color: rgb(179, 21, 21);
}
.todotext-ttrue{
    color: white;
}
@media(max-width:650px){
    .no-todos-message{
        font-size: 20px;
    }
    .Mainbuttons_todolist{
        flex-direction: column-reverse;
        height: 100px;
        align-self: start;
        margin-top: 30px;
    }
    .searcher{
        margin-bottom: 10px;
    }
    .ALLTODOS{
        border-radius: 20px;
    }
    .pendingandcompleted-btn{
        display: flex;
        height: auto;
        justify-content: start;
        align-items: center;
        margin-left: 10px;
        margin-top: 10px;
    }
    .searcher{
        height: auto;
        width: 100%;

    }
    .searcher_input{
        width: 90%;
    }
    .Todo_buttons{
        flex-direction: column;
    }
    .todo-btn{
        margin-top: 3px;
    }
    .mainbuttons-btn{
        margin-right: 5px;
        margin-left: 5px;
    }
    .t{
        font-size: 22px;
    }
    .todo-description{
        font-size: 18px;
    }
    .Todo_information{
        width: 100%;
    }
    .Todo_buttons{
        width: 20%;
    }
}
@media(max-width:1000px){
    .todo-btn{
        font-size: 30px;
        margin-right: 5px;
    }
    .contenedortotal{
        padding: 10px;
    }
}