*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.Background{
  margin-top: 0;
  height: 100vh;
  background-image: url(./../img/Fondologinregister.jpg);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.Backgrounddark{
  margin-top: 0;
  height: 100vh;
  background-image: url(./../img/Fondologinregisterdarkmode.jpg);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.LoginAndRegister{
  z-index: 0;
}
main{
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 70px;
}

.contenedor__todo{
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
  display: flex;
  height: 60vh;
  justify-content: center;
}

/*Formularios*/

.contenedor__login-register{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  left: 10px;
}
.invisible{
  display: none;
}
.visible{
  display: block;
}

.formulario_{
  width: 100%;
  padding: 80px 20px;
  background: rgb(255, 255, 255);
  border: 2px solid black;
  position: absolute;
  border-radius: 20px;
}
.formulario_dark{
  width: 100%;
  padding: 80px 20px;
  background: rgb(53, 52, 52);
  border: 2px solid black;
  position: absolute;
  border-radius: 20px;
}

.formtitle{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46A2FD;
}
.formtitledark{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #fdbd46;
}


.contenedor__login-register form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  font-size: 16px;
  outline: none;
}

.input_Style{
  background-color: #F2F2F2;
}

.contenedor__login-register form button{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46A2FD;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}

.label-error{
  color: red;
}

.label-alert{
  color: red;
  background-color: hsla(0, 53%, 53%, 0.5);
  border-radius: 20px;
  text-align: center;
}

.Register-error{
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: hsla(0, 53%, 53%, 0.5);
}
.userloged{
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: rgb(36, 97, 21);
  background-color: hsla(125, 53%, 53%, 0.5);
}

.Linkstoforms{
  display: flex;
  justify-content: center;
  align-items: center;
}
.linktoform{
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
  color: blue;
}
.linktoform:hover{
  color: rgb(104, 104, 245);
}
.linktoformdark{
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.linktoformdark:hover{
  color: rgb(172, 172, 172);
}

.botonentrar{
  cursor: pointer;
  background-color: #46A2FD;
  color: white;
}
.botonentrar:hover{
  background-color: #8abff3;
}
.botonentrardark{
  cursor: pointer;
  background-color: #fdbd46;
  color: white;
}
.botonentrardark:hover{
  background-color:#f5c772 ;
}

@media screen and (max-width: 850px){

  main{
      margin-top: 50px;
  }
  .Background{
    height: 140vh;
  }
  .Backgrounddark{
    height: 140vh;
  }
}
.modal-anuncementuseroremail_alert{
  color: red;
  font-family: 'Playpen Sans', cursive;
  font-size: 30px;
  text-align: center;
}
.modal-anuncement-descriptionuseroremail_alert_description{
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  text-align: center;
  background-color:hsla(7, 100%, 51%, 0.63);
  border: 2px solid rgb(255, 0, 0);
  width: 290px;
  border-radius: 20px;
}

